@import '../_variables';

 

.background{
   
    background:url(/images/track_order.jpg) no-repeat ;
    height: 700px;
    
    
}

// .ui.input.track{
//     margin-left: 100px;;
// }

div.ui.container.neshto{
    opacity: 0.9;
    height: 100px;
    background-color: white;
    padding-top: 50px;

}

h2.nadpis{
    font-size: 30px;
    padding-top: 120px;
    color: brown;
    font-weight: bold;
    text-align: center;
}
